.Answer__Form{

	.Answer__Form_question {
	    padding-bottom: 10px;
	}

	.Answer__Form_text {
	    width: 100%;
	    padding: 10px;
	    font-size: 1em;
	}

	.Answer__Form_divbtn {
		text-align: right;
    	padding: 5px;
	}

	.Answer__Form_btn {
	    background: #ae8e39;
	    padding: 8px;
	    border-radius: 5px;
	    color: white;
	    cursor: pointer;
	    font-size: 0.8em;
	    font-weight: bold;
	    border: 1px solid #8d7839;
	}
	
}